<div class="row justify-content-center g-4">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="card text-center border-0 mb-3 h-100">
        <img src="/img/vinor.png" class="img-fluid rounded-start" alt="Ruta del vino">
        <div class="card-body">
            <h4 class="card-title">MOMENTO DE VISITAS</h4>
            <p class="card-text">Una ruta que muestre los viñedos de los mejores vinos de la región.</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center border-0 mb-3 h-100">
        <img src="/img/museor.png" class="img-fluid rounded-start" alt="Museo">
        <div class="card-body">
            <h4 class="card-title">ESPACIO DE ARTE</h4>
            <p class="card-text">Puedes orzanizar el recorrido por un museo, una galería o cualquier sala de exposición.</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center border-0 mb-3 h-100">
        <img src="/img/tesoror.png" class="img-fluid rounded-start" alt="Busqueda del Tesoro">
        <div class="card-body">
            <h4 class="card-title">TIEMPO DE JUGAR</h4>
            <p class="card-text">Aquí puedes diseñar tu propio circuito para jugar a la Busqueda del Tesoro.</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>